@use "variables/colors" as colors;

.companies-page {
    width: 100%;

    h1,
    h3 {
        margin-bottom: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        width: 100%;
        gap: 20px;
    }

    &__card {
        background: colors.$blue-100;
        padding: 20px;
        border-radius: 10px;

        & > div {
            margin-top: 20px;
        }
    }

    &__add-job {
        &:hover {
            p {
                color: colors.$green-100;
            }

            svg {
                color: colors.$green-100;
                fill: colors.$green-100;
            }
        }

        p {
            color: colors.$green-80;
        }

        svg {
            color: colors.$green-80;
            fill: colors.$green-80;
        }
    }

    &__info {
        &:hover {
            p {
                color: colors.$blue-80;
            }

            svg {
                color: colors.$blue-80;
                fill: colors.$blue-80;
            }
        }

        p {
            color: colors.$blue-60;
        }

        svg {
            color: colors.$blue-60;
            fill: colors.$blue-60;
        }
    }

    &__edit {
        &:hover {
            p {
                color: colors.$yellow-100;
            }

            svg {
                color: colors.$yellow-100;
                fill: colors.$yellow-100;
            }
        }

        p {
            color: colors.$yellow-80;
        }

        svg {
            color: colors.$yellow-80;
            fill: colors.$yellow-80;
        }
    }

    &__delete {
        &:hover {
            p {
                color: colors.$red-100;
            }

            svg {
                color: colors.$red-100;
                fill: colors.$red-100;
            }
        }

        p {
            color: colors.$red-80;
        }

        svg {
            color: colors.$red-80;
            fill: colors.$red-80;
        }
    }
}
