@use "variables/colors" as colors;

.companies-page {
    width: 100%;

    h3 {
        margin-bottom: 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

        h1 {
            margin-right: auto;
        }

        div {
            p {
                font-size: 25px;
                color: colors.$green-100;
            }

            svg {
                width: 40px;
                height: 40px;
                color: colors.$green-100;
                fill: colors.$green-100;
            }

            &:hover {
                p {
                    color: colors.$green-80;
                }

                svg {
                    color: colors.$green-80;
                    fill: colors.$green-80;
                }
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        width: 100%;
        gap: 20px;
    }

    &__card {
        padding: 20px;
        border-radius: 10px;
        border: 3px solid colors.$blue-100;

        h3 {
            color: colors.$blue-100;
        }

        & > div {
            margin-top: 20px;
        }
    }

    &__add-job {
        &:hover {
            p {
                color: colors.$green-80;
            }

            svg {
                color: colors.$green-80;
                fill: colors.$green-80;
            }
        }

        p {
            color: colors.$green-100;
        }

        svg {
            color: colors.$green-100;
            fill: colors.$green-100;
        }
    }

    &__info {
        &:hover {
            p {
                color: colors.$blue-80;
            }

            svg {
                color: colors.$blue-80;
                fill: colors.$blue-80;
            }
        }

        p {
            color: colors.$blue-100;
        }

        svg {
            color: colors.$blue-100;
            fill: colors.$blue-100;
        }
    }

    &__edit {
        &:hover {
            p {
                color: colors.$yellow-80;
            }

            svg {
                color: colors.$yellow-80;
                fill: colors.$yellow-80;
            }
        }

        p {
            color: colors.$yellow-100;
        }

        svg {
            color: colors.$yellow-100;
            fill: colors.$yellow-100;
        }
    }

    &__delete {
        &:hover {
            p {
                color: colors.$red-80;
            }

            svg {
                color: colors.$red-80;
                fill: colors.$red-80;
            }
        }

        p {
            color: colors.$red-100;
        }

        svg {
            color: colors.$red-100;
            fill: colors.$red-100;
        }
    }
}
