@use "variables/colors" as colors;

.main-layout {
    display: flex;

    svg {
        width: 40px;
        height: 40px;
        fill: var(--text-color);
        color: var(--text-color);
    }

    &__sidebar {
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        height: 100dvh;
        background: colors.$blue-100;
        padding-block: 20px;
        width: 120px;
        transition: all ease-in-out 0.3s;

        p {
            display: none;
        }

        &:hover {
            width: 300px;

            p {
                display: block;
                margin-left: 10px;
                font-family: Rubik;
                font-weight: 500;
            }

            h5 {
                align-self: center;
            }
        }
    }

    &__menu {
        flex: 1;
        padding-top: 40px;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        margin-block: 40px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;

        &:hover {
            transform: scale(1.1);

            p {
                color: var(--bg-color);
            }

            svg {
                color: var(--bg-color);
                fill: var(--bg-color);
            }
        }

        &--active {
            p {
                color: var(--bg-color);
            }

            svg {
                color: var(--bg-color);
                fill: var(--bg-color);
            }
        }
    }

    &__log-out {
        margin: 0;
    }

    &__content {
        padding: 50px;
    }
}
